body {
  background-image: url('../../imageAssets/BWbrick.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
};

/* #under_construction-banner {
  margin-top: 15%;
} */
#message-body {
  margin-left: 5%;

}
