
body {
  background-color: black;
};

#message-body {
  margin-left: 5%;
  background-color: black;
}

.App {
  background-image: url('../../imageAssets/FullSizeLogo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  min-height: 1000px;
  margin: 0px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.banner-element {
  text-align: center;
  margin-top: 34%;
}

.title-message-comp {
  margin-bottom: 2%;
  padding: 2%;
  background-color: rgba(25,25,25,.6);
  color: rgba(235,235,235,.7);
}

.message-body-comp {
  background-color: rgba(25,25,25,.6);
  color: rgba(235,235,235,.7);
  margin-top: 25%;
  padding: 30px;
  margin-bottom: 15%;
}

.footer-message {
  background-color: rgba(25,25,25,.6);
  color: rgba(235,235,235,.7);
  margin-top: 15%;
  padding: 30px;
}

.btn-group {
  background-color: rgba(25,25,25,.6);
  color: rgba(235,235,235,.7);
  width: 100%;
  padding-left: 50%;
}

.btn {
margin:25px;
border-radius: 20px;
}
